# Project artifacts
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime
.env
.env.local
.env.*.local

# Testing / build
/dist
/build
/coverage
*.log

# System / temp
.DS_Store
*.swp
*~
Thumbs.db
.tmp

# Editor
.idea/
.vscode/
*.sublime-*

# Package
yarn.lock
